// Typography - placing in main styles for demo only
// ––––––––––––––––––––––––––––––––––––––––––––––––––
b,
strong {
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a {
  color: #dd67a2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    line-height: 1.2;
}

h2 {
    font-size: 1.5em;
    line-height: 1.25;
}

h3 {
    font-size: 1.2em;
    line-height: 1.3;
}

h4 {
    font-size: 1.1em;
    line-height: 1.35;
}

h5 {
    font-size: 1em;
    letter-spacing: -.05em;
    line-height: 1.5;
}

h6 {
    font-size: .8em;
    letter-spacing: 0;
    line-height: 1.4;
    font-weight: 300;
}
