// Screen widths
$max-section-width: 750px;
$mobile-width: 450px;

$font-family-main: 'Roboto', sans-serif;

$color-background-body: black;
$color-ghostwhite: ghostwhite;
$color-pink: pink;

$color-dark-green-gray: #3b4546;
$color-light-green-gray: #546061;
$color-transparent-gray: rgba(255, 255, 255, 0.65);
$color-light-pink-alpha: rgba(255, 192, 203, 0.45);
$color-light-gray: rgba(255, 255, 255, 0.8);
$color-deep-pink: #bb4e73

