<bc-demo-controls
    #bcDemoControls
    [hideControls]="hideDemoControls"
    [initialThrottleValue]="initialThrottleValue"
    (throttleSelectionEvent)="throttleSelectionHandler($event)"
    (runOutsideAngularEvent)="runOutsideAngularClickHandler($event)"
    (throttleTimeChangeEvent)="throttleTimeChangeHandler($event)"
    >
</bc-demo-controls>

<div class="main" id="main-div">
    <div #topPage class="page top">
        <h3>Page 1</h3>
        <div class="bottom-bar"></div>
    </div>
    <div class="page">
        <h3>Page 2</h3>
    </div>
    <div class="page">
        <h3>Page 3</h3>
    </div>
    <div class="page">
        <h3>Page 4</h3>
    </div>
    <div class="page">
        <h3>Page 5</h3>
    </div>
    <div class="page">
        <h3>Page 6</h3>
    </div>
    <div class="page">
        <h3>Page 7</h3>
    </div>
</div>
